@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Rubik');

body {
    font-family: 'Rubik';
    font-size: 30px;
    color: #406d96;
    background-color: #dce3e7;
    margin: 0;
    padding: 0;
}

/*Nav_panel*/
.nav_panel .navbar-brand{
    font-size: 60px;
    font-weight: 600;
    color: #dce3e7;
    text-align: center;
    text-shadow:2px 2px 5px #162634;
    width: 100%;
    margin: 0;
    padding: 20px;
}
.nav_panel{
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(64, 109, 150, 0.5);
}
/*Карточка текущего состояния*/
.card{
    font-size: 40px;
    color: #406d96;
    background-color: #f7f9fa;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(64, 109, 150, 0.5);
}
/*Выбор города*/
.city-box{
    font-size: 40px;
    color: #406d96;
    background-color: #f7f9fa;
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(64, 109, 150, 0.5);
}
/*Настройки прогноза*/
.settings-row {
    background-color: #f7f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(64, 109, 150, 0.5);
    margin: 20px 0;
    padding: 10px;
}

.settings-label{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 25px;
}
.forecast-dropdown {
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color:#406d96;
}
.pdk_choice{
    font-size: 25px;
    margin-top: 45px;
}
/*Графики*/
.air-graph{
    font-size: 30px;
    color: #406d96;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(64, 109, 150, 0.5);
    background-color: #f7f9fa;
    padding: 20px;
}
.graph-row{
    margin-bottom: 10px;
}